/* Estilos para o formulário */
.form-container {
    background-color: #2980b9; /* Mesma cor de fundo do cabeçalho */
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    color: white;
}

.form-container h2 {
    margin-bottom: 20px;
}

.consulta-form label,
.consulta-form input,
.consulta-form button {
    display: block;
    width: 100%;
    margin: 10px 0;
}

.consulta-form input,
.consulta-form button {
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.consulta-form button {
    background-color: #3498db; /* Cor de botão */
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.consulta-form button:hover {
    background-color: #1f78b4; /* Cor de hover do botão */
}

/* Estilos para a lista de participantes */
.lista-participantes {
    background-color: #2980b9; /* Mesma cor de fundo do cabeçalho */
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    color: white;
}

.lista-participantes ul {
    list-style: none;
    padding: 0;
}

.lista-participantes li {
    background-color: #3498db; /* Fundo de cada item */
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}